{% extends 'auth_base.html' %} 
{% block content %} 
{% load static %}
<br><br><br>
<div class="uk-container">
	<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
		<h1 class="thai_font-title ">Change Password</h1>
		<form method="post">{% csrf_token %}
			<div class="row"> 
				<div class="col-md-12">
					<p class="thai_font">old password</p>
					{{ form.old_password }}
				</div>
			</div>
			{% if form.errors.username %}
				<p style="color: #EF5350;font-weight: bold;" class="thai_font" >{{ form.errors.username }}</p>
			{% endif %}
			<div class="row"> 
				<div class="col-md-12">
					<p class="thai_font">new password</p>
					{{ form.new_password1 }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="thai_font">confirm new password</p>
					{{ form.new_password2 }}
				</div>
			</div>
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li class="{{ message.tags }}">{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<button type="submit" class="log-btn">Save change</button>
		</form>
	</div>

	<script type="text/javascript">
		var divs = document.getElementsByTagName("input");
		for(var i = 0; i < divs.length; i++){
			divs[i].classList.add('uk-input');;
		}
	</script>
</div>
<br>

{% endblock %}
