{% extends 'web_base.html' %} {% load static %} {% block content %}

<script type="text/javascript"> document.getElementById('nav-item-5').classList.add("active")</script>

<div class="container">
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-text-center">
            <h3 class="thai_font" style="color:black;">ติดต่อเราได้ที่</h3>
            <dl class="uk-description-list" style="margin-top: -1%;">
                <dd> ร้าน Organis Innovation Space </dd>
                <dd>บริษัท EpsilonInformatics</dd>
                <!-- <dt>Description term</dt> -->
                <dd>โศธนะ วิชาเรือง (นาย)</dd>
                <dd>โทร 080-5267718</dd>
                <dd>Line naii999</dd>
                <dd>Email nai6320@gmail หรือ tuskr58018@sci.tu.ac.th</dd>
            </dl>
            <div class="social-contact" >
                <ul>
                    <li><a href="https://web.facebook.com/sothna.vicharueng" ><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/sothana09008645"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/114987676952147018207"><i class="fa fa-google-plus"></i></a></li>
                    <!--<li><a href=""><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}